In [1]:
## importing all required libraries
import selenium
import time
import pandas as pd
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

In [2]:
## Firstly, connecting to the web driver

# Chromediver uploaded

driver=webdriver.Chrome('chromedriver.exe')
time.sleep(7)

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

You need to find following details:
    A) Rank 
    B) Name 
    C) Artist 
    D) Upload date 
    E) Views

In [35]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [36]:
rank=[]
name=[]
artist=[]
date=[]
views=[]
for k in range(1,31):
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[1]".format(k)):
            rank.append(i.text)
    except NoSuchAttributeException as e:
        rank.append('--')
        
    
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[2]".format(k)):
            name.append(i.text)
    except NoSuchAttributeException as e:
        name.append('--')
        
        
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[3]".format(k)):
            artist.append(i.text)
    except NoSuchAttributeException as e:
        artist.append('--')
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[4]".format(k)):
            views.append(i.text)
    except NoSuchAttributeException as e:
        views.append('--')
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[5]".format(k)):
            date.append(i.text)
    except NoSuchAttributeException as e:
        date.append('--')

In [37]:
df_wiki=pd.DataFrame({'Rank':rank,
                  'Name':name,
                  'Artist':artist,
                  'Upload date':date,
                  'Views':views})
df_wiki

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.99
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.45
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.56
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.39
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.18
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.33
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.28
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.23
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.12
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.00
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.47
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.34
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.17
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.10
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.08
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.07
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.06
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
27,28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.88
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.88
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.86

### 2. Scrape the details team India’s international fixtures from bcci.tv.

You need to find following details:
A) Match title (I.e. 1st ODI) 
B) Series 
C) Place 
D) Date 
E) Time

In [5]:
driver.get('https://www.bcci.tv/')

In [7]:
#scrapping  international fixture page
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()
driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click()

In [9]:
#creating empty list

match_title=[]
series=[]
place=[]
date=[]
time=[]


#scrapping match title
for i in driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]'):
    match_title.append(i.text.replace('\n',' '))
match_title

#scrapping date
for i in driver.find_elements_by_xpath('//div[@class="fixture__full-date"]'):
    date.append(i.text.replace('\n',' '))
date

#scrapping time
for i in driver.find_elements_by_xpath('//span[@class="fixture__time"]'):
    time.append(i.text.replace('\n',' '))
time
#scrapping place
for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]'):
    place.append(i.text.replace('\n',' '))
place
#scrapping series
for i in driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__format"]'):
    series.append(i.text.replace('\n',' '))
series


#creating dataframe
bcci=pd.DataFrame({})
bcci['match_title']=match_title
bcci['date']=date
bcci['time']=time
bcci['place']=place
bcci['series']=series
bcci

,match_title,date,time,place,series
0,1st ODI,18 JULY 15:00 IST,15:00 IST,"1st ODI R Premadasa Stadium, Colombo",ODI
1,2nd ODI,20 JULY 15:00 IST,15:00 IST,"2nd ODI R Premadasa Stadium, Colombo",ODI
2,3rd ODI,23 JULY 15:00 IST,15:00 IST,"3rd ODI R Premadasa Stadium, Colombo",ODI
3,1st T20I,25 JULY 20:00 IST,20:00 IST,"1st T20I R Premadasa Stadium, Colombo",T20I
4,2nd T20I,27 JULY 20:00 IST,20:00 IST,"2nd T20I R Premadasa Stadium, Colombo",T20I
5,3rd T20I,29 JULY 20:00 IST,20:00 IST,"3rd T20I R Premadasa Stadium, Colombo",T20I
6,1st Test,04 AUGUST 15:30 IST,15:30 IST,"1st Test Trent Bridge, Nottingham",TEST
7,2nd Test,12 AUGUST 15:30 IST,15:30 IST,"2nd Test Lord's, London",TEST
8,3rd Test,25 AUGUST 15:30 IST,15:30 IST,"3rd Test Headingley, Leeds",TEST
9,4th Test,02 SEPTEMBER 15:30 IST,15:30 IST,"4th Test The Oval, London",TEST
10,5th Test,10 SEPTEMBER 15:30 IST,15:30 IST,"5th Test Old Trafford, Manchester",TEST

### 3. Scrape the details of selenium exception from guru99.com.

You need to find following details: A) Name B) Description

In [10]:
driver.get('https://www.guru99.com/')

In [18]:
#scrapping title selenium from tutorials library
driver.find_element_by_xpath("//a[@title='Selenium']").click()

exc_name=[]
desc=[]

#reach to selenium exception handling tab
driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a').click()

for j in range(2,43):
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[2]".format(j)):
        desc.append(i.text)
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[1]".format(j)):
        exc_name.append(i.text)

#creating dataframe
df=pd.DataFrame({'Exception Name':exc_name,'Description':desc})
df

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.

You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [3]:
driver.get('http://statisticstimes.com/')

In [4]:
#scrapping to economy from drop down
driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [6]:
#scraping GDP of Indian states
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [7]:
#creating empty lists
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
share=[]
GDP=[]

In [8]:
#scrapping GDP of Indian states from Indian State
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]"):
    State.append(i.text)   
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]"):
    GSDP_19_20.append(i.text)  
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[8]"):
    GSDP_18_19.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]"):
    share.append(i.text)   
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [9]:
len(Rank), len(State),len(GSDP_19_20), len(GSDP_18_19), len(share), len(GDP)

(33, 33, 33, 33, 33, 33)

In [10]:
#creating dataframe
df=pd.DataFrame({})
df['Rank']=Rank
df['State']=State
df['GSDP_19_20']=GSDP_19_20
df['GSDP_18_19']=GSDP_18_19
df['share']=share
df['GDP($ billion)']=GDP
df

,Rank,State,GSDP_19_20,GSDP_18_19,share,GDP($ billion)
0,1,Maharashtra,-,"2,039,074",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,215,307",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,123,982",8.39%,240.726
3,4,Gujarat,-,"1,186,379",7.96%,228.290
4,5,Karnataka,"1,631,977","1,091,077",7.91%,226.806
5,6,West Bengal,"1,253,832","739,525",5.77%,165.556
6,7,Rajasthan,"1,020,989","677,428",4.99%,143.179
7,8,Andhra Pradesh,"972,782","621,301",4.57%,131.083
8,9,Telangana,"969,604","612,828",4.56%,130.791
9,10,Madhya Pradesh,"906,672","522,009",4.29%,122.977
10,11,Kerala,-,"559,412",4.14%,118.733
11,12,Delhi,"856,112","590,569",4.10%,117.703
12,13,Haryana,"831,610","531,085",3.89%,111.519
13,14,Bihar,"611,804","375,651",2.81%,80.562
14,15,Punjab,"574,760","397,669",2.79%,79.957
15,16,Odisha,"521,275","376,877",2.58%,74.098
16,17,Assam,-,"234,048",1.67%,47.982
17,18,Chhattisgarh,"329,180","231,182",1.61%,46.187
18,19,Jharkhand,"328,598","224,986",1.57%,45.145
19,20,Uttarakhand,-,"193,273",1.30%,37.351
20,21,Jammu & Kashmir,-,"112,755",0.83%,23.690
21,22,Himachal Pradesh,"165,472","117,851",0.81%,23.369
22,23,Goa,"80,449","57,787",0.39%,11.115
23,24,Tripura,"55,984","36,963",0.26%,7.571
24,25,Chandigarh,-,"31,192",0.22%,6.397
25,26,Puducherry,"38,253","23,013",0.18%,5.230
26,27,Meghalaya,"36,572","24,682",0.18%,5.086
27,28,Sikkim,"32,496","18,722",0.15%,4.363
28,29,Manipur,"31,790","19,300",0.15%,4.233
29,30,Nagaland,-,"17,647",0.14%,4.144
30,31,Arunachal Pradesh,-,"16,676",0.13%,3.737
31,32,Mizoram,"26,503","16,478",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [8]:
driver.get('https://github.com/')

In [11]:
#scarpping trending option from Explore menu
driver.find_element_by_xpath("//summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']").click()

In [15]:
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
driver.get(trending.get_attribute('href'))

In [17]:
#creating empty list
title=[]
desc=[]
c_count=[]
language=[]

#Scrapping Repository title
try:
    for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
        title.append(i.text)
except:
    title.append('-')

#Scrapping repository Description
try:
    for i in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
        desc.append(i.text)
except:
    desc.append('-')
    
#Scrapping Contributors count
try:
    for i in driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']"):
        c_count.append(i.text)
except:
    c_count.append('-')
    
#Scrapping language used
try:
    for i in driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']"):
        language.append(i.text)
except:
    langauge.append('-')

In [18]:
len(title), len(desc), len(c_count), len(language)

(25, 25, 50, 23)

In [19]:
df_github=pd.DataFrame({'Repository title':title[:23],'Repository description':desc[:23],'Contributors count':c_count[:23],'Language used':language[:23]})
df_github

,Repository title,Repository description,Contributors count,Language used
0,TheAlgorithms / Python,All Algorithms implemented in Python,"112,393",Python
1,paritytech / substrate,Substrate: The platform for blockchain innovators,"30,748",Rust
2,discordjs / discord.js,A powerful JavaScript library for interacting ...,"5,251",JavaScript
3,github / docs,The open-source repo for docs.github.com,"1,544",JavaScript
4,livekit / livekit-server,Distributed audio/video rooms over WebRTC,"13,230",Go
5,ManimCommunity / manim,A community-maintained Python framework for cr...,"2,697",Python
6,snowpackjs / astro,"🚀🧑‍🚀 Keep your eyes to the skies, astronauts!","5,059",TypeScript
7,deepmind / alphafold,Open source code for AlphaFold.,"21,283",Python
8,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,767,Python
9,GPUOpen-Effects / FidelityFX-FSR,FidelityFX Super Resolution,38,C
10,GokuMohandas / MadeWithML,Learn how to responsibly deliver value with ML.,"3,553",Jupyter Notebook
11,coolsnowwolf / lede,Lean's OpenWrt source,382,C
12,hit-thusz-RookieCJ / CSYuTuiMian2021,关于2021年CS保研预推免通知公告的汇总,"5,244",HTML
13,jonasschmedtmann / html-css-course,"Starter files, final projects, and FAQ for my ...",144,Python
14,RosettaCommons / RoseTTAFold,This package contains deep learning models and...,"4,043",CSS
15,lxgw / LxgwWenKai,An open-source Chinese font derived from Fontw...,413,C
16,bradtraversy / hulu-webpage-clone,Hulu webpage clone,"7,628",TypeScript
17,ventoy / Ventoy,A new bootable USB solution.,"1,563",Java
18,vuejs / vue-next,"🖖 Vue.js is a progressive, incrementally-adopt...",903,Go
19,CaffeineMC / sodium-fabric,A Fabric mod designed to improve frame rates a...,40,JavaScript
20,megaease / easegress,A Cloud Native traffic orchestration system,"27,306",JavaScript
21,adiwajshing / Baileys,Lightweight full-featured typescript/javascrip...,"4,718",Python
22,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,"17,036",Python

### 6. Scrape the details of top 100 songs on billboard.com.

You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [16]:
driver.get('https://www.billboard.com/')

In [17]:
#scarpping charts option then hot 100-page link
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a").click()   
driver.find_element_by_xpath("/html/body/main/div[2]/div/div[1]/a/div[2]/div[2]/div[1]").click()

In [18]:
#creating empty list
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

#srapping song name
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    song_name.append(i.text)
    
#scrapping artist name
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist_name.append(i.text)
    
#scrapping Last week rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    last_week_rank.append(i.text)
    
#scrapping peak_rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(i.text)
    
#scrapping weeks_on_board
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks_on_board.append(i.text)

In [19]:
#creating dataframe
billboard=pd.DataFrame({})

billboard['Song name']=song_name
billboard['Artist name']=artist_name
billboard['Last week rank']=last_week_rank
billboard['Peak rank']=peak_rank
billboard['Weeks on board']=weeks_on_board
billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15
...,...,...,...,...,...
95,All I Know So Far,P!nk,-,74,4
96,What's Next,Drake,-,1,16
97,Enough For You,Olivia Rodrigo,-,14,6
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,-,64,4

### 7. Scrape the details of Data science recruiters from naukri.com.

You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [20]:
driver.get('https://www.naukri.com/')

In [21]:
#scrapping recruiters option on homepage
recruiters=driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/div/ul/li[1]/a')
driver.get(recruiters.get_attribute('href'))

#searching for data science on search bar
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data Science')
driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [27]:
#creating empty list
name=[]
designation=[]
company=[]
hiring_skills=[]
location=[]

#scrapping recruiter name
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)
    
#scrapping recruiter designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    designation.append(i.text)

#scrapping company name
for i in driver.find_elements_by_xpath("//a[@class='ellipsis']"):
    company.append(i.text)
    
#Scrapping skills required for hiring
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    hiring_skills.append(i.text)

#Scrapping location 
for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
    location.append(i.text)

In [29]:
len(name),len(designation),len(company),len(hiring_skills),len(location)

(50, 50, 100, 50, 48)

In [30]:
#creating dataframe
recruiter=pd.DataFrame({})
recruiter['name']=name[:48]
recruiter['designation']=designation[:48]
recruiter['company']=company[:48]
recruiter['hiring_skills']=hiring_skills[:48]
recruiter['location']=location[:48]
recruiter

,name,designation,company,hiring_skills,location
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,shravan Kumar Gaddam,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,MARSIAN Technologies LLP,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,MARSIAN Technologies LLP,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Anik Agrawal,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Enerlytics Software Solutions Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,subhas patel,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,LibraryXProject,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Abhishek - Only Analytics Hiring - India and,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,Apidel Technologies Division of Transpower,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,Institute for Financial Management and Resear,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,IFMR,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,Balu Ramesh,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,Techvantage Systems Pvt Ltd,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Asif Lucknowi,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Weupskill- Live Wire India,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,InstaFinancials,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,CBL Data Science Private Limited,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Kalpana Dumpala,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,Innominds Software,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Mubarak,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,MoneyTap,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Kushal Rastogi,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,QuantMagnum Technologies Pvt. Ltd.,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Ruchi Dhote,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,Bristlecone India Ltd,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Mahesh Babu Channa,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,SocialPrachar.com,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,Kapil Devang,"Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,BISP Solutions,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,Manisha Yadav,"Python, Artificial Intelligence, Machine Learn...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,Easi Tax,Walmart Interra Skeps Expressstores indifi whi...,Noida
34,Prateek Kumar,Head,Riya Rajesh,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
35,Amit Sharma,Consultant,Novelworx Digital Solutions,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,Rashmi Bhattacharjee,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",Faizan Kareem,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,FirstTech Consaltants Pvt.Ltd,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,Rithika dadwal,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Affine Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Azahar Shaikh,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,Sandhya Khandagale,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Compumatrice Multimedia Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,Shaun Rao,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,Exela Technologies,"Software Development, Core Java, Unit Testing,...",Noida

### 8. Scrape the details of Highest selling novels.

You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [32]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [38]:
#creating empty list
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

for j in range(1,101):
    # Book name
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[2]".format(j)):
        Book_name.append(i.text)
    #Author name
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[3]".format(j)):
        Author_name.append(i.text)
    #Volumes sold
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[4]".format(j)):
        Volumes_sold.append(i.text)
    #Publisher
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[5]".format(j)):
        Publisher.append(i.text)
    #Genre
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[6]".format(j)):
        Genre.append(i.text)

In [39]:
#creating dataframe
novels=pd.DataFrame({})
novels['Book_name']=Book_name
novels['Author_name']=Author_name
novels['Volumes_sold']=Volumes_sold
novels['Publisher']=Publisher
novels['Genre']=Genre
novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com

You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [40]:
driver.get(' https://www.imdb.com/list/ls095964455/')

In [53]:
#creating empty list
Name=[]
year_span=[]
Genre=[]
RunTime=[]
Ratings=[]
Votes=[]

#name
for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a"):
    Name.append(i.text)

#year_span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year_span.append(i.text)
    
#Genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)
    
#RunTime
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    RunTime.append(i.text)
   
#ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']"):
    Ratings.append(i.text)
    
#Votes
for i in driver.find_elements_by_xpath("//span[@name='nv']"):
    Votes.append(i.text)

In [54]:
len(Name),len(year_span),len(Genre),len(RunTime),len(Ratings),len(Votes)

(100, 100, 100, 100, 100, 100)

In [55]:
#creating dataframe

imdb=pd.DataFrame({})
imdb['Name']=Name
imdb['year_span']=year_span
imdb['Genre']=Genre
imdb['RunTime']=RunTime
imdb['Ratings']=Ratings
imdb['Votes']=Votes
imdb

,Name,year_span,Genre,RunTime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,837,448"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"876,081"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"880,296"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,420"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,890"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,811"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,438"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"169,927"
98,Scream: the TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,156"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,623"

### 10. Details of Datasets from UCI machine learning repositories

You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [30]:
driver.get('https://archive.ics.uci.edu/')

In [32]:
driver.find_element_by_xpath("//span[2][@class='whitetext']/a").click()

In [33]:
#creating empty list
data=[]
typ=[]
task=[]
attribute=[]
number=[]
n_attribute=[]
year=[]
for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    data.append(i.text)
for k in range(2,590):
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p".format(k)):
        typ.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[3]/p".format(k)):
        task.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[4]/p".format(k)):
        attribute.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[5]/p".format(k)):
        number.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[6]/p".format(k)):
        n_attribute.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[7]/p".format(k)):
        year.append(i.text)

In [34]:
df_repository=pd.DataFrame({'Dataset Name':data,
                            'Data Type':typ,
                            'Task':task,
                            'Attribute type':attribute,
                            'No of instances':number,
                            'Number of Attribute':n_attribute,
                            'Year':year})
df_repository

,Dataset Name,Data Type,Task,Attribute type,No of instances,Number of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021